<div class="sharebuttons">
    <a href="https://www.linkedin.com/in/toonvank" target="_blank">
        <img style="margin-bottom: 10px;" class="profile-picture" src="picture.png">
    </a>
    <ul>
        <li class="github">
            <a href="https://github.com/toonvank" target="_blank">
                {% include social/github.svg %}
            </a>
        </li>
        <li class="linkedin">
            <a href="https://www.linkedin.com/in/toonvank?originalSubdomain=be" target="_blank">
                {% include social/linkedin.svg %}
            </a>
        </li>
    </ul>
    <iframe width="150" height="150" src="https://www.openstreetmap.org/export/embed.html?bbox=1.7358398437500002%2C49.35017741346903%2C8.986816406250002%2C52.45935663683681&amp;layer=mapnik&amp;marker=50.93073802371819%2C5.361328125" style="border-radius: 10px;"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=50.931&amp;mlon=5.361#map=8/50.931/5.361">Grotere kaart weergeven</a>
</div>